<div class="filters">
  <div class="search-form">
    <mat-icon>&#xe8b6;</mat-icon>
    <input
      type="text"
      placeholder="Name, Capital, Language"
      [formControl]="searchControl"
    />
  </div>

  <select placeholder="Region" [formControl]="regionControl">
    <option [ngValue]="null">Region</option>
    <option [value]="region" *ngFor="let region of regions">
      {{ region }}
    </option>
  </select>

  <button type="button" class="filter-btn" (click)="onFilterClick()">
    Filter
  </button>

  <select placeholder="Latest searches" [formControl]="latestSearchControl">
    <option [ngValue]="null">Latest searches</option>
    <option [ngValue]="search" *ngFor="let search of searches$ | async">
      {{ search.searchTerm }} {{ search.region }}
    </option>
  </select>
</div>

<table>
  <thead>
    <tr>
      <th>Flag</th>
      <th>Country name</th>
      <th>Capital</th>
      <th>Region</th>
      <th>Languages</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of countries$ | async">
      <td>
        <img class="country-flag" [src]="country.flag" [alt]="country.name" />
      </td>
      <td>
        <span
          [innerHtml]="
            country.name | highlight: (filterSubject$ | async)?.searchTerm ?? ''
          "
        ></span>
      </td>
      <td>
        <span
          [innerHtml]="
            country.capital
              | highlight: (filterSubject$ | async)?.searchTerm ?? ''
          "
        ></span>
      </td>
      <td>{{ country.region }}</td>
      <td>
        <span
          [innerHtml]="
            country.languages
              | highlight: (filterSubject$ | async)?.searchTerm ?? ''
          "
        ></span>
      </td>
    </tr>
  </tbody>
</table>
