<div class="filters">
  <div class="search-form">
    <mat-icon>&#xe8b6;</mat-icon>
    <input type="text" placeholder="Name, Capital, Language" />
  </div>

  <select placeholder="Region">
    <option value="null">Region</option>
  </select>

  <button class="filter-btn">Filter</button>
</div>

<table>
  <thead>
    <tr>
      <th>Flag</th>
      <th>Country name</th>
      <th>Capital</th>
      <th>Region</th>
      <th>Languages</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of countries$ | async">
      <td>
        <img class="country-flag" [src]="country.flag" [alt]="country.name" />
      </td>
      <td>{{ country.name }}</td>
      <td>{{ country.capital }}</td>
      <td>{{ country.region }}</td>
      <td>{{ country.languages }}</td>
    </tr>
  </tbody>
</table>
