<div class="filters">
  <div class="search-form">
    <mat-icon>&#xe8b6;</mat-icon>
    <input
      type="text"
      placeholder="Name, Capital, Language"
      [formControl]="searchControl"
    />
  </div>

  <div class="select-wrapper">
    <select placeholder="Region" [formControl]="regionControl">
      <option [ngValue]="null">Region</option>
      <option [value]="region" *ngFor="let region of regions">
        {{ region }}
      </option>
    </select>
  </div>

  <div class="btn-wrapper">
    <button type="button" class="filter-btn" (click)="onFilterClick()">
      Filter
    </button>
  </div>

  <div class="select-wrapper">
    <select placeholder="Latest searches" [formControl]="latestSearchControl">
      <option [ngValue]="null">Latest searches</option>
      <option [ngValue]="search" *ngFor="let search of searches$ | async">
        {{ search.searchTerm }} {{ search.region }}
      </option>
    </select>
  </div>
</div>

<app-countries-table
  *ngIf="paginator"
  [countries$]="countries$"
  [filterSubject$]="filterSubject$"
  (onColumnClick)="onColumnClick($event)"
  [pageSize]="paginator.pageSize"
  [pageIndex]="paginator.pageIndex"
></app-countries-table>

<mat-paginator
  class="paginator"
  [length]="(countries$ | async)?.length"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page"
  #paginator
>
</mat-paginator>
